@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey: #f5f4f9;
  --gray-2: #d8d8d8;
  --purple: #5e3db3;
  --purple-2: #5c3caf;
  --dark-purple: #090c35;

  --text-grey-1: #e7e7e7;
  --text-grey-2: #c2c2c2;
}
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 36px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 50px;
  }
}

.grey-1-text {
  color: var(--text-grey-1);
}

.grey-2-text {
  color: var(--text-grey-2);
}

.grey-bg {
  background-color: var(--grey);
}

.purple-bg {
  background-color: var(--purple);
}

.dark-purple-bg {
  background-color: var(--dark-purple);
}

.purple-text {
  color: var(--purple);
}

.dark-purple-text {
  color: var(--dark-purple);
}

.text-grey-2-text {
  color: var(--text-grey-2);
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.grow-3 {
  flex-grow: 3;
}

.grow-4 {
  flex-grow: 4;
}

.left-1d20 {
  left: calc(1 / 20 * 100%);
}

.right-1d20 {
  right: calc(1 / 20 * 100%);
}

.fill-opacity-20 {
  fill-opacity: 0.2;
}

*::-webkit-scrollbar {
  width: 0;
}

/* component */
/* carousel */

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: var(--gray-2) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;
  background-color: var(--purple-2) !important;
}
